* {
    margin: 0;
    padding: 0;
}
.header {
    min-width: 1400px;
    display: flex;
    justify-content: center;
}
.header .header-info {
    width: 1400px;
    height: 43px;
    background: #00000014;
}
.header .header-info .contacts {
    display: flex;
    padding-right: 13.5%;
    justify-content: flex-end;
}
.header .header-info .contacts .phone {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
}
.header .header-info .contacts .phone .phone-icon {
    width: 11px;
    height: 18px;
    background-image: url(../images/phone-icon.png);
    background-repeat: no-repeat;
    margin-top: 12px;
}
.header .header-info .contacts .phone .phone-number {
    margin: 13px 20px 0 9px;
    font-size: 0.94rem;
    font-family: sans-serif;
}
.header .header-info .contacts .sprite-line-icon {
    width: 1px;
    height: 43px;
    background-image: url(../images/sprite-line-icon.png);
}
.header .header-info .contacts .email {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
}
.header .header-info .contacts .email .email-icon {
    width: 20px;
    height: 16px;
    background-image: url(../images/email-icon.png);
    background-repeat: no-repeat;
    margin: 13px 0 0 20px;
}
.header .header-info .contacts .email .email-address {
    margin: 13px 0 0 7px;
    font-size: 0.95rem;
    font-family: sans-serif;
}
.header .header-info .contacts .facebook {
    width: 29px;
    height: 29px;
    background-image: url(../images/facebook-icon.png);
    margin: 5px 0 0 10px;
    cursor: pointer;
}
.content {
    min-width: 1400px;
    display: flex;
    justify-content: center;
}
.content .container {
    display: flex;
    flex-direction: column;
}
.content .container .menu {
    width: 1400px;
    height: 722px;
    background-image: url(../images/banner-icon.jpg);
}
.content .container .menu .menu-top {
    display: flex;
    flex-direction: row;
}
.content .container .menu .menu-top .logo-icon{
    width: 237px;
    height: 51px;
    margin: 40px 0 0 190px;
    background-image: url(../images/logo-icon.png);
}
.content .container .menu .menu-top .menu-top-text {
    margin: 56px 0 0 204px;
}
.content .container .menu .menu-top .menu-top-text a {
    font-family: sans-serif;
    font-size: 0.89rem;
    font-weight: bolder;
    text-decoration: none;
    color: #222222;
}
.content .container .menu .menu-top .menu-top-text a:hover {
    color: #e5000d;
}
.content .container .menu .menu-top .menu-top-text .menu-top-separate-icon {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 5px 12px 2px 12px;
    background-image: url(../images/separate-icon.png);
}
.content .container .menu .menu-top .menu-top-btn button {
    margin: 48px 0 0 35px;
    background: #e5000d;
    border: 0;
    color: #ffffff;
    width: 172px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.87rem;
    cursor: pointer;
}
.content .container .menu .menu-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    width: 1400px;
    height: 591px;
}
.content .container .menu .menu-center .menu-center-text {
    display: flex;
    width: 700px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 443px;
    top: 35px;
}
.content .container .menu .menu-center .menu-center-text h1 {
    position: relative;
    top: -85px;
    left: 114px;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 2.8rem;

}
.content .container .menu .menu-center .menu-center-text h2 {
    position: relative;
    top: -85px;
    left: 0;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 1.87rem;
    font-weight: lighter;
}
.content .container .menu .menu-center .menu-center-btn button {
    width: 330px;
    height: 70px;
    background: #f7d146;
    border: none;
    border-radius: 8px;
    position: relative;
    left: 535px;
    top: -20px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.38rem;
    font-weight: bold;
    cursor: pointer;
}
.content .container .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1400px;
    height: 550px;
    background: #f8f8f8;
    color: #222222;
}
.content .container .about-us .about-us-header {
    height: 100px;
    position: relative;
    top: -41px;
    left: -1px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.08rem;
}
.content .container .about-us .about-us-header h2 {
    font-size: 1.24rem;
    font-weight: lighter;
}
.content .container .about-us .about-us-header .title-underline-icon {
    width: 50px;
    height: 8px;
    display: inline-block;
    background-image: url(../images/about-us-title-underline-icon.png);
    position: relative;
    top: 5px;
}
.content .container .about-us .about-us-footer {
    display: flex;
    justify-content: space-around;
    width: 1400px;
    position: relative;
    top: 43px;
}
.content .container .about-us .about-us-footer .about-us-facebook {
    position: relative;
    text-align: center;
    top: -59px;
    left: 174px;
    width: 250px;
    font-size: 0.65rem;
    font-family: sans-serif;
}
.content .container .about-us .about-us-footer .about-us-facebook .about-us-facebook-icon {
    width: 83px;
    height: 79px;
    background-image: url(../images/about-us-facebook-icon.png);
}
.content .container .about-us .about-us-footer .about-us-facebook .about-us-facebook-text {
    position: relative;
    left: -88px;
    top: 25px;
}
.content .container .about-us .about-us-footer .about-us-facebook .about-us-facebook-text h2 {
    font-size: 0.78rem;
    margin-top: 10px;
    line-height: 22px;
}
.content .container .about-us .about-us-footer .about-us-landing-page {
    position: relative;
    top: -59px;
    left: -8px;
    width: 150px;
    font-size: 0.5rem;
}
.content .container .about-us .about-us-footer .about-us-landing-page .about-us-landing-page-icon {
    width: 66px;
    height: 79px;
    background-image: url(../images/about-us-landing-page-icon.png);
}
.content .container .about-us .about-us-footer .about-us-landing-page .about-us-landing-page-text {
    position: relative;
    width: 250px;
    left: -93px;
    top: 25px;
    font-size: 0.65rem;
    font-family: sans-serif;
    text-align: center;
}
.content .container .about-us .about-us-footer .about-us-landing-page .about-us-landing-page-text h2 {
    font-size: 0.78rem;
    margin-top: 10px;
    line-height: 22px;
}
.content .container .about-us .about-us-footer .about-us-management {
    position: relative;
    top: -51px;
    right: 115px;
    width: 150px;
    font-size: 0.5rem;
}
.content .container .about-us .about-us-footer .about-us-management .about-us-management-icon {
    width: 84px;
    height: 81px;
    background-image: url(../images/about-us-management-icon.png);
}
.content .container .about-us .about-us-footer .about-us-management .about-us-management-text {
    position: relative;
    top: 15px;
    left: -85px;
    font-size: 0.65rem;
    font-family: sans-serif;
    text-align: center;
    width: 250px;
}
.content .container .about-us .about-us-footer .about-us-management .about-us-management-text h2 {
    font-size: 0.78rem;
    margin-top: 10px;
    line-height: 22px;
}
.content .container .our-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1400px;
    height: 885px;
    background: #d82d23;
}
.content .container .our-work .our-work-header {
    margin: -10px 0 50px 0;
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
}
.content .container .our-work .our-work-header h2 {
    font-size: 1.24rem;
    font-weight: lighter;
}
.content .container .our-work .our-work-header .our-work-title-underline-icon {
    width: 50px;
    height: 8px;
    background-image: url(../images/our-work-title-underline-icon.png);
    display: inline-block;
    position: relative;
    top: 7px;
}
.content .container .our-work .our-work-footer {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 188px;
    width: 1024px;
    height: 508px;
}
.content .container .our-work .our-work-footer .our-work-first-row {
    display: flex;
    flex-direction: row;
}
.content .container .our-work .our-work-footer .our-work-first-row .our-work-layer1-icon {
    width: 256px;
    height: 254px;
    background-image: url(../images/layer1-icon.png);
    position: relative;
    top: 2px;
}
.content .container .our-work .our-work-footer .our-work-first-row .our-work-layer2-icon {
    width: 256px;
    height: 254px;
    background-image: url(../images/layer2-icon.png);
}
.content .container .our-work .our-work-footer .our-work-second-row {
    display: flex;
    flex-direction: row;
}
.content .container .our-work .our-work-footer .our-work-second-row .our-work-layer3-icon {
    width: 256px;
    height: 254px;
    background-image: url(../images/layer3-icon.png);
}
.content .container .our-work .our-work-footer .our-work-second-row .our-work-layer4-icon {
    width: 256px;
    height: 254px;
    background-image: url(../images/layer4-icon.png);
}
.content .container .our-work .our-work-footer .our-work-project-name {
    width: 256px;
    height: 254px;
    background-image: url(../images/project-name-icon.png);
}
.content .container .get-in-touch {
    width: 1400px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2d2c29;
}
.content .container .get-in-touch .get-in-touch-header {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font: bold 1.7rem sans-serif;
    margin: 15px;
}
.content .container .get-in-touch .get-in-touch-menu {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.content .container .get-in-touch .get-in-touch-menu .get-in-touch-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 252px;
    height: 45px;
}
.content .container .get-in-touch .get-in-touch-menu .get-in-touch-menu-container div {
    display: flex;
    justify-content: space-between;
    width: 45px;
    height: 45px;
    background: #2d2c29;
    border: 2px solid #797979;
    border-radius: 2px;
}
.content .container .get-in-touch .get-in-touch-menu .get-in-touch-menu-container div:hover {
    background-color: #e2d4e0;
    cursor: pointer;
}
.content .container .get-in-touch .get-in-touch-menu .get-in-touch-menu-container .get-in-touch-menu-facebook {
    background-image: url(../images/fb-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.content .container .get-in-touch .get-in-touch-menu .get-in-touch-menu-container .get-in-touch-menu-twitter {
    background-image: url(../images/twitter-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.content .container .get-in-touch .get-in-touch-menu .get-in-touch-menu-container .get-in-touch-menu-google {
    background-image: url(../images/google-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.content .container .get-in-touch .get-in-touch-menu .get-in-touch-menu-container .get-in-touch-menu-in {
    background-image: url(../images/in-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.content .container .get-in-touch .get-in-touch-text {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font: lighter 0.9rem sans-serif;
    margin: 15px;
}
.content .container .get-in-touch .get-in-touch-email {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.content .container .get-in-touch .get-in-touch-email-container {
    width: 650px;
    background: #797979;
    color: #ffffff;
    font: lighter 0.9rem sans-serif;
    padding: 18px;
}
.content .container .get-in-touch .get-in-touch-btn {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.content .container .get-in-touch .get-in-touch-btn-container {
    background: #2d2c29;
    border: 2px solid #797979;
    border-radius: 4px;
    padding: 12px 32px;
    color: #ffffff;
    font: bold 1.1rem sans-serif;
}
.content .container .get-in-touch .get-in-touch-btn-container:hover {
    background-color: #e2d4e0;
    cursor: pointer;
}
.footer {
    min-width: 1400px;
    display: flex;
    justify-content: center;
}
.footer .footer-text {
    width: 1400px;
    height: 42px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    background: #797979;
    color: #ffffff;
    font: lighter 0.9rem sans-serif;
}
